body {
    background-color: rgba(0,0,255,0.3);
}

/* Navbarhoz kiegészítő szabályok */

.navbar-bg {
    background-color: rgb(20,20,20);
}

.dropdown-bg {
    background-color: rgb(20,20,20);
}

.dropdown-color {
    color: rgba(255,255,255,.55);
}

/* A contenthez szabályok */

#content-container {
    background-color: #FFF;
    padding: 0 1.5rem;
}

h1 {
    padding-top: 3%;
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
    margin: 2.5% 0 1%;
    font-weight: bold;
}

h3 {
    font-size: 2rem;
    margin: 2% 0;
}

h4 {
    font-size: 1.5rem;
    margin: 1.25% 0;
}

p {
    text-align: justify;
    line-height: 1.5;
    margin: 1.25% 0 0;
}

li {
    margin: 0.75% 0 0;
}

.p-bold {
    font-weight: bold;
}

img {
    display: block;
    margin: 1vh auto;
}

/* táblázathoz szabályok */

table {
    margin: 3% auto;
}

th, td {
    border: 3px solid;
    border-collapse: collapse;
}

td:nth-child(1), td:nth-child(3) {
    width: 25%;
}

td:nth-child(2) {
    width: 50%;
}

/* lábjegyzet */

footer {
    background-color: rgb(20,20,20);
    color: rgba(255,255,255,.55);
    padding: 1% 0;
}

@media screen and (max-width: 992px) {
    h2 {
        margin-top: 8%;
    }
}

@media screen and (max-width: 600px) {
    img {
        width: 75%;
    }
}